/* Reset les styles par défaut du navigateur */
body, h1, h2, h3, p, video {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.video-section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
}

.video-card {
    margin: 10px;
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Autres styles généraux ici */

/* Media query pour les écrans jusqu'à 600 pixels de large (typiquement pour les iPhones en mode portrait) */
@media only screen and (max-width: 600px) {
    /* Styles spécifiques pour les petits écrans */
    body {
        font-size: 14px; /* Exemple d'ajustement de la taille de police pour les petits écrans */
    }
}

